* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* header */


header { 
    background-color: #add8e6;
    padding: 15px;
}

nav {
    display: flex;
    background-color: #daa520;
    width: 75%;
    margin: 0 auto;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}


#login {
    text-align: end;
}

#link {
    flex-grow: 2;
}

nav > div {
    border: 2px dotted black;
    padding: 2px;
    flex-grow: 1;
    
}


/* main */


section {
    display: flex;
    padding: 50px 250px;
    justify-content: center;
}


main > :nth-child(even) {
    background-color: #ffffff;
    flex-direction: row;
}

main > :nth-child(odd) {
    background-color: #d3d3d3;
    flex-direction: row-reverse;
}

#top {
    background-color: #00008b;
}


.top.square {
    background-color: #ee82ee;
    width: 70%;
    height: 200px;
    margin: auto;
    border: 2px dotted black;
}

section > div {
    border: 2px dotted black;
    height: 300px;
}

.first {
    background-color: #1e90ff;
    flex-grow: 1.5;
}

.second {
    background-color: #ffc0cb;
    flex-grow: 1;
}

.bottom {
    background-color: green;
    width: 1200px;
    height: 550px;
}


/* footer */

footer {
    background-color: #23272a;
    padding: 50px 250px;
}
.container {
    display: flex;
    justify-content: center;
    margin: auto;
}

.container > div {
    height: 300px;
    border: 2px dotted black;
}

.left {
    background-color: #f08080;
    flex-grow: 1;
}

.right {
    display: flex;
    background-color: #20b2aa;
    flex-grow: 2;
}

.right > div {
    flex-grow: 1;
    border: 2px dotted white;
}
